node_modules
.env
coverage
coverage.json
typechain
typechain-types
templates/functions
compile
src/functions
dist
defender.config.ts
# Hardhat files
cache
artifacts

# generated docs
generated-markups

# editors
.idea
